@model List<TaskList>
<div class="card shadow border-0 mt-4">
	<div class="row">
		<div class=" col-12 text-center">
			<h2 class=" text-white py2"> TaskList </h2>
		</div>
	</div>
</div>
 @* <div class="card-body p-4">  *@
<div class="row pb-2">
	<div class="col-6">
	</div>
	<div class="col-12 text-start">
		<a asp-controller="Tasks" asp-action="Create" class="btn btn-primary">
			<i class="bi bi-clipboard2-plus-fill"></i> Create Task
		</a>
	</div>
</div>

@* // made a table  *@
<table class="table table-bordered table-striped">
		@* <thead>
				<tr>
					<th>
						 Name
					</th>
					<th>
						Priority
					</th>
					<th>
						isCompleted
					</th>
					<th>
						Actions
					</th>
				</tr>
		</thead> *@
		
				
			@* run the foreach loop for iterating through all items persented in table*@
	<div class="task-list">
		@foreach (var obj in Model.OrderBy(u => u.Priority))
		{
			<div class="task-item d-flex justify-content-between align-items-center mb-3 p-3 rounded shadow-sm" style="background-color: steelblue;">
				<div>
					<h5 class="mb-1">@obj.Name</h5>
					<p class="mb-0"> @obj.Priority</p>
					<p class="mb-0">@obj.isCompleted</p>
				</div>
				<div>
					<div class="btn-group" role="group">
						<button id="btnGroupDrop2-@obj.Id" type="button" class="btn btn-success dropdown-toggle"
								data-bs-toggle="dropdown" aria-expanded="false">
							Actions
						</button>
						<ul class="dropdown-menu" aria-labelledby="btnGroupDrop2-@obj.Id">
							<li>
								<a asp-controller="Tasks" asp-action="Edit" asp-route-id="@obj.Id" class="dropdown-item class=" btn btn-outline-dark"">
									<i class="bi bi-pencil"></i> Edit
								</a>
							</li>
							<li>
								<a asp-controller="Tasks" asp-action="Delete" asp-route-id="@obj.Id" class="dropdown-item class=" btn btn-outline-dark"">
									<i class="bi bi-trash"></i> Delete
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		}
	</div>

	 @* </tbody> *@
@* </table> *@
